.NotesApp {
  margin: 0 auto;
  max-width: 1000px;
}

.section__title--notes-app {
  color: var(--clr-accent);
  text-align: center;
}

.pane {
  overflow-y: auto;
  padding: 10px;
}
@media screen and (max-width: 599px) {
  .pane {
    width: 100% !important;
  }
}

.first-note {
  cursor: pointer;
  background-color: var(--clr-accent);
  border: none;
  color: var(--clr-light);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-light);
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
@media screen and (min-width: 600px) {
  .split {
    flex-direction: row;
  }
}

.no-notes {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light) smoke;
}
