.hero {
  position: relative;
  background-color: var(--clr-black);
}

.section__subtitle--hero {
  display: inline-block;
}
@media screen and (min-width: 600px) {
  .section__subtitle--hero {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
  }
}

.hero__img {
  border-radius: 50%;
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .hero {
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    grid-template-areas: 
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  
  .hero__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }    
}
