.my-services {
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.service {
  max-width: 275px;
  margin: 0 auto;
}

.service:nth-child(2) {
  margin: 3em auto;
}
@media screen and (min-width: 800px) {
  .service:nth-child(2) {
    margin: unset;
  }
}

.service h3 {
  font-weight: var(--fw-med);
  letter-spacing: 0.5px;
}

.service p {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-light);
  letter-spacing: 0.5px;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
}
