.my-work {
  background-color: var(--clr-black);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 25px;
  margin: 0 auto;
  max-width: 547px;
}

.portfolio__item {
  background: var(--clr-accent);
  border-radius: var(--border-radius);
  box-shadow: var(--bs);
  overflow: hidden;
}

.portfolio__img {
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: .5;
}

@media screen and (min-width: 339px) and (max-width: 488px) {
  #work > div > a:nth-child(3) {
    grid-column: 2 / 3;
  }
  #work > div > a:nth-child(4) {
    grid-row: 2;
  }
}