@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: Montserrat, sans-serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;
  
  --fw-light: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  
  --clr-light: #F8F8F8;
  --clr-dark: #282828;
  --clr-black: #111;
  --clr-accent: #93BEAD;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  
  --bs: 0.25em 0.25em 0.75em rgb(255, 255, 255),
        0.125em 0.125em 0.25em rgb(255, 255, 255);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
